

  
  .scroll {
    position: relative;
    display: flex;
    width: 900px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  }
  
  .scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time) * -1);
  }
  
  .scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time) / -2);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  .scroll div span {
    display: inline-flex;
    margin: 3px;
    font-size: 12px;
    /* letter-spacing: 0.2em; */
    /* background: #347aeb; */
    border: black 1px solid;
    color: #ee4e4e;
    padding: 0px 6px;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .scroll div span:hover {
    background: #0ea3cd;
    cursor: pointer;
  }
  
  .imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgBox img {
    max-width: 100px;
    scale: 0.8;
  }
  