#t1-scroll-container {
        
    // overflow-x: auto;
    // -ms-overflow-style: none;

    /* IE and Edge */
    // scrollbar-width: none;
    
    
    /* Firefox */

    .filters-container {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: left;
        max-width: 80vw;
        .filter-card {
            border-radius: 5px;
            border: 1px grey ridge;
            margin:5px 3px;
            padding: 0 5px;
            min-width:fit-content ;

            p{width: 100%;}
        }


    }
}

// #t1-scroll-container::-webkit-scrollbar {
//     display: none;
//     /* Chrome, Safari, and Opera */
// }